html {
  font-family: Roboto, sans-serif;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.logo {
  width: 100%;
  max-width: 5rem;
}

li a {
  list-style-type: none;
  text-decoration: none;
  color: #e0ceb3;
  font-family: Cinzel, serif;
}

li:hover a {
  color: #9e8b6f;
}

/* Burger */

nav {
  text-align: right;
}

nav a {
  text-decoration: none;
  color: #e0ceb3;
  transition: color .3s ease;
}

nav a:hover {
  color: #9e8b6f;
}

.nav [type="checkbox"] + label::before {
  display: none;
}

.menutoggle {
  width: 56px;
  display: inline-block;
}

.menutoggle span {
  display: block;
  height: 4px;
  margin-bottom: 15px;
  position: relative;
  background: #e0ceb3;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform .5s, background .5s, opacity .55s ease;
}

.menutoggle .tog-top {
  transform-origin: 0% 0%;
}

.menutoggle .tog-bottom {
  transform-origin: 0% 100%;
}

input:checked ~ .menutoggle .tog-top {
  opacity: 1;
  transform: rotate(45deg);
  background: #9e8b6f;
}

input:checked ~ .menutoggle .tog-middle {
  opacity: 0;
}

input:checked ~ .menutoggle .tog-bottom {
  transform: rotate(-45deg);
  background: #9e8b6f;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 75px;
  padding-top: 75px;
  background: #000;
  transform-origin: 100% 0%;
  transform: translate(0, -100%);
  transition: transform .5s;
  text-align: left;
}

#menu li {
  padding: 10px 0;
  list-style-type: none;
}

input:checked ~ #menu {
  transform: none;
}

/* Bigger nav styling */

@media only screen and (min-width: 60em) {

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: auto;
    right: auto;
    padding: 0;
    background: transparent;
    transform: none;
  }

  label.menutoggle {
    display: none;
  }

}

/* Banner */

.banner,
.banner-rescue,
.banner-adopt {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)), url("../images/banner.jpg");
  background-size: 100% 100%, cover;
  border-bottom: 10px solid #484baa;
  background-position: center, center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 45vh;
}

.banner-rescue {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)), url("../images/banner-rescue.jpg");
}

.banner-adopt {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)), url("../images/banner-adopt.jpg");
}

.btn {
  background-color: #484baa;
  border: none;
  border-radius: 25px;
  font-family: Cinzel, serif;
}

.btn ul li {
  list-style-type: none;
}

.btn:hover {
  background-color: #9e8b6f;
}

.adopt-btn a {
  color: #fff;
}

.adopt-btn:hover a {
  color: #fff;
  background-color: #9e8b6f;
}

.byline {
  font-family: Cinzel, serif;
  text-shadow: 3px 3px 5px #000;
  color: #fff;
  text-align: center;
}

.byline h1 {
  margin: 0 auto;
}

h1,
h2 {
  font-family: Cinzel, serif;
}

.donate {
  background-color: #e0ceb3;
}

.center-btn {
  text-align: center;
}

.available .overlay {
  visibility: visible;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .2s linear;
}

.available:hover .overlay {
  opacity: 1;
}

.gutter-wrap {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

footer {
  background-color: #9e8b6f;
}

.adopt-footer {
  background-color: #e0ceb3;
}

.copyright {
  color: #fff;
  background-color: #000;
  border-top: 10px solid #484baa;
  text-align: center;
}

@media only screen and (min-width: 32em) {

  .banner,
  .banner-rescue,
  .banner-adopt {
    min-height: 65vh;
    background-position: center, bottom;
  }

}

@media only screen and (min-width: 60em) {

  .banner,
  .banner-rescue,
  .banner-adopt {
    min-height: 80vh;
  }

}

@media only screen and (min-width: 90em) {

  .gutter-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .gutter-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .banner,
  .banner-rescue,
  .banner-adopt {
    min-height: 100vh;
  }

}
